---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Kluchnik Sánchez Perete – Contadores Públicos Certificados',
  ignoreTitleTemplate: false,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{ src: '~/assets/images/ksp-fija.jpg', alt: 'KSP-Fija' }}
  >
    <Fragment slot="title">
      Kluchnik Sánchez Perete – Contadores Públicos Certificados
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Nuestros servicios"
    subtitle="Somos un grupo de profesionales de la contaduría pública, en el cual prestamos servicios relacionados con la misma, divididos en tres grandes áreas:"
    columns = {2}
    items={[
      {
        title: 'Auditoría ',
        description: "Enfocada básicamente a la elaboración de dictámenes para efectos financieros y fiscales, así como también los relacionados con el IMSS, INFONAVIT, Impuestos Estatales y compra venta de acciones.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Fiscal ',
        description:
          "Brindamos asesoría y planeación, siempre bajo el marco legal.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Contabilidad ',
        description:
          'Apoyamos al proceso de la contabilidad, así como la elaboración de las declaraciones de impuestos y cuotas correspondientes.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Otros Servicios',
        description: "Elaboración de la nómina y peritajes en materia contable.",
        icon: 'flat-color-icons:document',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Hero
    esJustificado = true
  >
    <Fragment slot="subtitle">
      <p>Envíe un mensaje a través de nuestro <a class="inline-block hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200" href="/contacto">Formulario de Contacto</a> o llame directamente al teléfono (52) (55) 5598.9626</p>
      <br>
      <p><a class="inline-block hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200" href="/oficina">Nuestras oficinas</a> se encuentran en Indiana 260- 103 y 104, Colonia Ciudad de los Deportes en la Ciudad de México. C.P. 03710</p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Hero>
</Layout>
