---
import Layout from '~/layouts/PageLayout.astro';
import 'aos/dist/aos.css'
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Header from '~/components/widgets/Header.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Comunicados from '~/components/widgets/ListadoPDF.astro'
import Testimonials from '~/components/widgets/Testimonials.astro';

import { obtenerCVs } from "../obtenerCVs.js";

const cvs = await obtenerCVs();

const metadata = {
  title: 'Kluchnik Sánchez Perete – Contadores Públicos Certificados',
  ignoreTitleTemplate: false,
};
---

<Layout metadata={metadata}>
  <!--Header -->
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Inicio', href: '#inicio' },
        { text: '¿Quiénes somos?', href: '#quienes-somos' },
        { text: 'Misión y Visión', href: '#mision-vision' },
        { text: 'Nuestros servicios', href: '#nuestros-servicios' },
        { text: 'Oficina', href: '#oficina' },
        { text: 'Comunicados', href: '#comunicados' },
        { text: 'Contacto', href: '#contacto' },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>
  <!-- Hero Widget ******************* -->



  <!--Inicio -->
  <Hero
    id='inicio'
    image={{ src: 'images/ksp-fija.webp', alt: 'KSP-Fija' }}
  >
    <Fragment slot="title">
      <div class="font-courier">
        kluchnik sánchez perete, s.c. <br>
        contadores públicos certificados
      </div>
    </Fragment>
  </Hero>







  <!-- Quienes somos -->
  <div class="relative">
    <div data-aos="fade-up" class="absolute inset-0 bg-cover bg-center bg-no-repeat blur-sm" style={`background-image: url('/images/G0010324.webp')`}></div>
    <div class="relative z-10">
      <Features2
        esJustificado
        id='quienes-somos'
        title="¿Quiénes somos?"
        subtitle="Nuestra firma nace en el año de 1973, fecha a partir de la cual hemos venido prestando los servicios profesionales ya mencionados, tiempo durante el cual tuvimos oportunidad de asociarnos con otra firma de contadores públicos, asociación que culminó en junio de 1987, fecha a partir de la cual tomamos nuestro actual nombre KSP, S. C. \nDurante este lapso, tuvimos la oportunidad de representar a una firma internacional de la contaduría pública y, al concluir esa representación, fuimos invitados a formar parte de un grupo de despachos con sedes básicamente en Europa, y en algunas otras sedes en ciudades importantes de los Estados Unidos de Norteamérica.\n Ambas relaciones fueron concluidas a instancia nuestra, por falta de reciprocidad."
      />

      <Testimonials
        id='quienes-somos'
        title="Socios"
        testimonials={[
          {
            testimonial: `Socio`,
            name: 'Jacobo Kluchnik Rutzka',
            job: 'Ver currículum',
            image: {
              src: '/',
              alt: 'Jacobo Kluchnik Rutzka Imágen',
            },
            url: cvs[1],
          },
          {
            testimonial: `Socio`,
            name: 'Alejandro Sánchez Perete',
            job: 'Ver currículum',
            image: {
              src: '/',
              alt: 'Alejandro Sánchez Perete Imágen',
            },
            url: cvs[0],
          },
        ]}
      />
    </div>
  </div>







  <!--Mision y Vision -->
  <div class="relative">
    <div data-aos="fade-up" class="absolute inset-0 bg-cover bg-center bg-no-repeat blur-sm" style={`background-image: url('images/GOPR0303.webp')`}></div>
    <div class="relative z-10">
      <Features2
      id='mision-vision'
        title="Misión"
        subtitle="Crear y mantener una actitud positiva y de vanguardia que nos permita ofrecer a nuestros clientes servicios integrales de calidad, teniendo presente en todo momento la aplicación del control de calidad a los trabajos desempeñados por la firma."
      >
      </Features2>

      <Features2
        id='mision-vision'
        title="Visión"
        subtitle="Asegurar la permanencia de la organización a través de la institucionalización, diversidad y la versatilidad de los servicios que ofrecemos, reconociendo que cada proyecto se constituye como un reto individual y de la firma."
      />
    </div>
  </div>



  <!--Nuestros Servicios -->
  <div class="relative">
    <div data-aos="fade-up" class="absolute inset-0 bg-cover bg-center bg-no-repeat blur-sm" style={`background-image: url('images/GoProBlanco.webp')`}></div>
    <div class="relative z-10">
      <Features2
      esJustificado
      title="Nuestros servicios"
      id='nuestros-servicios'
      subtitle="Los servicios profesionales que prestamos en las áreas descritas, están bajo la responsabilidad del gerente de cada una de ellas, quien tiene a su cargo a un grupo de profesionales, que van desde ayudantes cursando los últimos semestres de la carrera, hasta encargados con un completo dominio de su especialidad. \n Por lo que al aspecto fiscal legal se refiere, coordinamos estos trabajos con varias firmas de abogados de reconocido prestigio. \nSomos un grupo de profesionales de la contaduría pública, en el cual prestamos servicios relacionados con la misma, divididos en tres grandes áreas:"
      columns = {2}
      classes={{
        title: 'text-white',
        subtitle: 'text-slate-50',
      }}
      items={[
        {
          title: 'Auditoría ',
          description: "Enfocada básicamente a la elaboración de dictámenes para efectos financieros y fiscales, así como también los relacionados con el IMSS, INFONAVIT, Impuestos Estatales y compra venta de acciones.",
          icon: 'tabler:certificate',
        },
        {
          title: 'Fiscal ',
          description:
            "Brindamos asesoría y planeación, siempre bajo el marco legal.",
          icon: 'tabler:gavel',
        },
        {
          title: 'Contabilidad ',
          description:
            'Apoyamos al proceso de la contabilidad, así como la elaboración de las declaraciones de impuestos y cuotas correspondientes.',
          icon: 'tabler:calculator',
        },
        {
          title: 'Otros Servicios',
          description: "Elaboración de la nómina y peritajes en materia contable.",
          icon: 'tabler:notes',
        },
      ]}
    >

    </Features2>

    <Hero
      esJustificado
    >
      <Fragment slot="subtitle">
        <p class="text-slate-50 text-shadow">Envíe un mensaje a través de nuestro <a class="inline-block hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200" href="#contacto">Formulario de Contacto</a> o llame directamente al teléfono (52) (55) 5598.9626</p>
        <br>
        <p class="text-slate-50 text-shadow-[0_4px_8px_#6366f1]"><a class="inline-block hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200" href="#oficina">Nuestras oficinas</a> se encuentran en Indiana 260- 103 y 104, Colonia Ciudad de los Deportes en la Ciudad de México. C.P. 03710</p>
      </Fragment>
    </Hero>
      <Features2
        id='nuestros-servicios'
        title=""
        subtitle="Nuestros principales clientes se encuentran en los siguientes sectores:"
        esJustificado
        items={[
          {
            title: 'Textil',
            icon: 'tabler:texture',
          },
          {
            title: 'Donatarias',
            icon: 'tabler:cash-register',
          },
          {
            title: 'Ecología',
            icon: 'tabler:trees',
          },
          {
            title: 'Restaurantes',
            icon: 'tabler:pizza',
          },
          {
            title: 'Telecomunicaciones',
            icon: 'tabler:router',
          },
          {
            title: 'Turístico',
            icon: 'tabler:photo',
          },
          {
            title: 'Inmobiliario',
            icon: 'tabler:home',
          },
          {
            title: 'Deportivo social',
            icon: 'tabler:building-stadium',
          },
          {
            title: 'Plásticos',
            icon: 'tabler:bottle-filled',
          },
          {
            title: 'Educativo',
            icon: 'tabler:school',
          },
          {
            title: 'Publicidad y de servicios',
            icon: 'tabler:speakerphone',
          },
          {
            title: 'Otros',
            icon: 'tabler:file-dots',
          },
        ]}
      >
      </Features2>
    </div>
  </div>






  <!--Oficina -->
  <div class="relative">
    <div data-aos="fade-up" class="absolute inset-0 bg-cover bg-center bg-no-repeat blur-sm" style={`background-image: url('images/KSPExterior.webp')`}></div>
    <div class="relative z-10">
      <Features2
          id='oficina'
          title="Oficina"
          columns={1}
          items={[
            {
              title: 'Dirección',
              description:
                'Indiana 260- 103 y 104, Colonia Ciudad de los Deportes. C.P. 03710, Ciudad de México.',
              icon: 'tabler:brand-google-maps',
            },
            {
              title: 'Teléfono',
              description:
                '(52) (55) 5598-9626',
              icon: 'tabler:phone',
            },
          ]}
        >

      </Features2>

      <div data-aos="fade-up"  class="w-full flex justify-center dark:bg-transparent" id='oficina'>
        <div class="w-4/5 h-4/5 py-5 ">
          <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.666931816424!2d-99.17962238936035!3d19.383569281809816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff9d65ad2953%3A0x5294b7bf4bde4532!2sC.%20Indiana%20260-103%20y%20104%2C%20Cd.%20de%20los%20Deportes%2C%20Benito%20Ju%C3%A1rez%2C%2003710%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1720503164459!5m2!1ses-419!2smx" 
            class='w-full h-72' 
            allowfullscreen="true" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>

    </div>
  </div>




  <!--Comunicados -->
  <Comunicados 
    id="comunicados"
    title="Comunicados"
  >

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-sky-600 dark:bg-transparent"></div>
  </Fragment>

  </Comunicados>




  

  <div class="relative">
    <div data-aos="fade-up" class="absolute inset-0 bg-cover bg-center bg-no-repeat blur-sm" style={`background-image: url('/images/GOPR0345.webp')`}></div>
    <div class="relative z-10">
      <!--Contacto -->
      <ContactUs
        id="contacto"
        button='Enviar Correo'
        title="Póngase en contacto con nosotros"
        inputs={[
          {
            type: 'text',
            name: 'from_name',
            label: 'Nombre:',
          },
          {
            type: 'email',
            name: 'from_email',
            label: 'Correo:',
          },
          {
            type: 'tel',
            name: 'from_tel',
            label: 'Teléfono:',
          },
        ]}
        textarea={{
          label: 'Mensaje:',
        }}
      />
    </div>
  </div>



  <script src="/src/components/AOS.js" type="module"></script>
  <script> 
    import AOS from "aos"; 
    AOS.init({
      duration: 1200, // Duración en milisegundos
    });
  </script>
  <script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>

  <script type="text/javascript">
    emailjs.init('jy-3sfvppbWFx7Za7')
  </script>

  <script type="text/javascript">
    document.getElementById("formularioMensajes")
    .addEventListener('submit', function(event) {
      event.preventDefault();

      document.getElementById('botonMensajes').click();

      document.getElementById('botonMensajes').value = "Enviando correo";

      const serviceID = 'default_service';
      const templateID = 'template_ke4mbe7';

      emailjs.sendForm(serviceID, templateID, this)
      .then(() => {
        showAlert();
        document.getElementById('botonMensajes').value = 'Enviar Correo';
      }, (err) => {
        document.getElementById('botonMensajes').value = 'Enviar Correo';
        alert(JSON.stringify(err));
      });
      

      
    });

    function showAlert() {
      const x = document.getElementById("snackbar");
      x.className = "show";
      setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }
  </script>
</Layout>
