---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Header from '~/components/widgets/Header.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Comunicados from '~/components/widgets/ListadoPDF.astro'

const metadata = {
  title: 'Kluchnik Sánchez Perete – Contadores Públicos Certificados',
  ignoreTitleTemplate: false,
};
---

<Layout metadata={metadata}>
  <!--Header -->
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Inicio', href: '#inicio' },
        { text: '¿Quiénes somos?', href: '#quienes-somos' },
        { text: 'Misión y Visión', href: '#mision-vision' },
        { text: 'Nuestros servicios', href: '#nuestros-servicios' },
        { text: 'Oficina', href: '#oficina' },
        { text: 'Comunicados', href: '#comunicados' },
        { text: 'Contacto', href: '#contacto' },
      ]}
      actions={[
        {
          text: 'Hire me',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>
  <!-- Hero Widget ******************* -->



  <!--Inicio -->
  <Hero
    id='inicio'
    image={{ src: '~/assets/images/ksp-fija.jpg', alt: 'KSP-Fija' }}
  >
    <Fragment slot="title">
      Kluchnik Sánchez Perete – Contadores Públicos Certificados
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Nuestros servicios"
    id='inicio'
    subtitle="Somos un grupo de profesionales de la contaduría pública, en el cual prestamos servicios relacionados con la misma, divididos en tres grandes áreas:"
    columns = {2}
    items={[
      {
        title: 'Auditoría ',
        description: "Enfocada básicamente a la elaboración de dictámenes para efectos financieros y fiscales, así como también los relacionados con el IMSS, INFONAVIT, Impuestos Estatales y compra venta de acciones.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Fiscal ',
        description:
          "Brindamos asesoría y planeación, siempre bajo el marco legal.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Contabilidad ',
        description:
          'Apoyamos al proceso de la contabilidad, así como la elaboración de las declaraciones de impuestos y cuotas correspondientes.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Otros Servicios',
        description: "Elaboración de la nómina y peritajes en materia contable.",
        icon: 'flat-color-icons:document',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Hero
    esJustificado
  >
    <Fragment slot="subtitle">
      <p>Envíe un mensaje a través de nuestro <a class="inline-block hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200" href="/contacto">Formulario de Contacto</a> o llame directamente al teléfono (52) (55) 5598.9626</p>
      <br>
      <p><a class="inline-block hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200" href="/oficina">Nuestras oficinas</a> se encuentran en Indiana 260- 103 y 104, Colonia Ciudad de los Deportes en la Ciudad de México. C.P. 03710</p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Hero>







  <!-- Quienes somos -->








  <!--Mision y Vision -->
  <Features2
  id='mision-vision'
    title="Misión"
    subtitle="Crear y mantener una actitud positiva y de vanguardia que nos permita ofrecer a nuestros clientes servicios integrales de calidad, teniendo presente en todo momento la aplicación del control de calidad a los trabajos desempeñados por la firma."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Features2
    id='mision-vision'
    title="Visión"
    subtitle="Asegurar la permanencia de la organización a través de la institucionalización, diversidad y la versatilidad de los servicios que ofrecemos, reconociendo que cada proyecto se constituye como un reto individual y de la firma."
  />



  <!--Nuestros Servicios -->
  <Features2
    id='nuestros-servicios'
    title="Nuestros servicios"
    subtitle="Los servicios profesionales que prestamos en las áreas descritas, están bajo la responsabilidad del gerente de cada una de ellas, quien tiene a su cargo a un grupo de profesionales, que van desde ayudantes cursando los últimos semestres de la carrera, hasta encargados con un completo dominio de su especialidad. \n Por lo que al aspecto fiscal legal se refiere, coordinamos estos trabajos con varias firmas de abogados de reconocido prestigio. \nNuestros principales clientes se encuentran en los siguientes sectores:"
    tagline="Components"
    esJustificado
    items={[
      {
        title: 'Textil',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Donatarias',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Ecología',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Restaurantes',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Telecomunicaciones',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Turístico',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Inmobiliario',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Deportivo social',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Plásticos',
        icon: 'flat-color-icons:database',
      },
      {
        title: 'Educativo',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Publicidad y de servicios',
        icon: 'flat-color-icons:database',
      },
      {
        title: 'Outsourcing',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Otros',
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>






  <!--Oficina -->
  <Features2
      id='oficina'
      title="Oficina"
      tagline="Components"
      columns={1}
      items={[
        {
          title: 'Dirección',
          description:
            'Indiana 260- 103 y 104, Colonia Ciudad de los Deportes en la Ciudad de México. C.P. 03710.',
          icon: 'tabler:school',
        },
        {
          title: 'Teléfono',
          description:
            '(52) (55) 5598.9626',
          icon: 'tabler:home-star',
        },
      ]}
    >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>

  </Features2>

  <div data-aos="fade-up"  class="w-full flex justify-center bg-blue-50 dark:bg-transparent" id='oficina'>
    <div class="w-4/5 p-4">
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.666931816424!2d-99.17962238936035!3d19.383569281809816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff9d65ad2953%3A0x5294b7bf4bde4532!2sC.%20Indiana%20260-103%20y%20104%2C%20Cd.%20de%20los%20Deportes%2C%20Benito%20Ju%C3%A1rez%2C%2003710%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1720503164459!5m2!1ses-419!2smx" 
        class='w-full h-72' 
        allowfullscreen="true" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>





  <!--Comunicados -->
  <Comunicados 
    id="comunicados"
    title="Comunicados"
    items={[
      {
        titulo: '2014',
        description:
          'Absolutely, all plans include access to our dedicated customer support to assist you with any queries or concerns.',
      },
      {
        titulo: '2015',
        description:
          'Absolutely, all plans include access to our dedicated customer support to assist you with any queries or concerns.',
      },
      {
        titulo: '2016',
        description:
          'Absolutely, all plans include access to our dedicated customer support to assist you with any queries or concerns.',
      },
      {
        titulo: '2017',
        description:
          'Absolutely, all plans include access to our dedicated customer support to assist you with any queries or concerns.',
      },
      {
        titulo: '2018',
        description:
          'Absolutely, all plans include access to our dedicated customer support to assist you with any queries or concerns.',
      },
      {
        titulo: '2024',
        description:
          'Absolutely, all plans include access to our dedicated customer support to assist you with any queries or concerns.',
      },
      
    ]}
  >

  </Comunicados>




  


  <!--Contacto -->
  <ContactUs
    id="contacto"
    button='Enviar'
    title="Póngase en contacto con nosotros"
    inputs={[
      {
        type: 'text',
        name: 'nombre',
        label: 'Nombre:',
      },
      {
        type: 'email',
        name: 'correo',
        label: 'Correo:',
      },
      {
        type: 'number',
        name: 'tel',
        label: 'Teléfono:',
      },
    ]}
    textarea={{
      label: 'Mensaje:',
    }}
    disclaimer={{
      label:
        'Al enviar este formulario de contacto, usted reconoce y acepta la recopilación de su información personal.',
    }}
  />

  <script src="/src/components/AOS.js" type="module"></script>
</Layout>
