---
import Layout from '~/layouts/PageLayout.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'KSP - Nuestros Servicios',
};
---
<Layout metadata={metadata}>
  <Features2
    title="Nuestros servicios"
    subtitle="Los servicios profesionales que prestamos en las áreas descritas, están bajo la responsabilidad del gerente de cada una de ellas, quien tiene a su cargo a un grupo de profesionales, que van desde ayudantes cursando los últimos semestres de la carrera, hasta encargados con un completo dominio de su especialidad. \n Por lo que al aspecto fiscal legal se refiere, coordinamos estos trabajos con varias firmas de abogados de reconocido prestigio. \nNuestros principales clientes se encuentran en los siguientes sectores:"
    tagline="Components"
    esJustificado
    items={[
      {
        title: 'Textil',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Donatarias',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Ecología',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Restaurantes',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Telecomunicaciones',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Turístico',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Inmobiliario',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Deportivo social',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Plásticos',
        icon: 'flat-color-icons:database',
      },
      {
        title: 'Educativo',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Publicidad y de servicios',
        icon: 'flat-color-icons:database',
      },
      {
        title: 'Outsourcing',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Otros',
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>
</Layout>
